<div class="modal">
  <div class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <div class="container">
    
    <div class="modal-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-xs-12 screenshot">
            <img alt="screenshot">
          </div>
          <div class="col-lg-4 col-xs-12 sidebar">
            <div class="title"></div>
            <div class="description"></div>
            <div class="link">
              <a href="#" class="link-btn" target="_blank"><i class="fa fa-link fa-2x" aria-hidden="true"></i> <span class="link-text"></span></a>
            </div>
            <div class="tags">
              <div class="tag"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>